<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit-bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         defaultTestSuite="Unit">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">test/WordPressPackager</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory suffix="TestE2E.php">test/E2E</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage/"/>
        <log type="coverage-clover" target="coverage/clover.xml"/>
        <log type="junit" target="coverage/junit.xml"/>
    </logging>
</phpunit>
